* {
    margin: 0;
    padding: 0;
    outline: 0;
}
/*header*/
header {
    width: 100%;
    height: 40px;
    margin-left: 20px;
}
/*container*/
#container {
    width: 100%;
    margin-left: 20px;
    min-height: 700px;
}
/*sideColumn*/
#sideColumn {
    position: relative;
    float: right;
    width: 250px;
    height: 420px;
    box-sizing: border-box;
    margin-top: -150px;
    margin-right: 50px;
    border: 3px solid red;
}
/*sideColumn*/
main div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*sideColumn*/
.exitLinks {
    padding: 10px;
    margin: 10px;
    opacity: .9;
    line-height: 40px;
    text-align: center;
}
/*sideColumn*/
main div ul li a {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 40px;
    color: brown;
    font-size: 20px;
    font-family: 'Arial';
    text-decoration: none;
    background: lightgoldenrodyellow;
    text-indent: 15px;
}
/*footer*/
footer {
    width: 100%;
    height: 50px;
    margin-right: 20px;
    float: left;
}
/*navigation menu*/
header nav {
    position: relative;
	width: 100%;
    height: 40px;
    margin-left: 20px;
	box-sizing: border-box;
	background-color: grey;
	color: white;
    z-index: 100;
}
/*navigation menu*/
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*navigation menu*/
header nav ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: grey;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
/*navigation menu*/
header nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
/*navigation menu*/
header nav ul li a:hover {
    background-color: darkturquoise;
    border-bottom: 3px solid red;
}
/*navigation menu*/
header nav ul li ul li {
    display: none;
}
/*navigation menu*/
header nav ul li:hover ul li {
    display: block;
}
/*navigation menu*/
header nav ul li ul li a:hover {
    display: block;
    border-bottom: 3px solid red;
}
/*navigation menu*/
header nav ul {
    list-style: none;
}


/*main*/
.mainTop {
    position: relative;
    top: 50px;
    left: 50px;
    float: left;
    width: 50%;
    display: inline-block;
    font-size: 20px;
    min-height: 300px;
}

/*main*/
main div img {
	float: left;
    position: relative;
    top: 50px;
    left: 150px;
	width: 300px;
	margin: -30px 0 0 -100px;
	border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    display: inline-block;
}
/*main*/
main div img:hover {
	-webkit-filter: grayscale();
	filter: grayscale();
}
/*main*/
main div h1 {
    position: relative;
    top: 100px;
    left: 200px;
	margin: 10px 0;
	font-size: 40px;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
    display: none;
}
/*main*/
main div p {
    position: relative;
    top: 150px;
    left: 200px;
	margin: 10px 0;
	color: #00aaff;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 20px;
    text-align: center;
    float: left;
    font-weight: bold;
    display: inline-block;
}
/*main*/
.asideTop {
    position: relative;
    top: 200px;
    left: 100px;
	width: 50%;
	margin: 10px -330px 0 50px;
    display: inline-block;
    font-size: 20px;
    min-height: 300px;
}
/*main*/
.mainMiddle {
    position: relative;
    top: -100px;
    width: 50%;
    margin: 350px -330px 0 150px;
    min-height: 600px;
}
/*main*/
.asideMiddle {
    position: relative;
    top: 100px;
	width: 50%;
    float: right;
	margin: 150px -330px 0 150px;
    font-size: 20px;
    min-height: 600px;
}
/*main*/
main aside h2, main div h2 {
    color: red;
    font-size: 30px;
    margin-left: 15px;
}
main div div dl {
    font-size: 20px;
    width: 50%;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}
main div div dl dt {
    position: relative;
    float: left;
    font-style: italic;
    width: 100%;
    background-color: transparent;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: bold;
}
main div div dl dd {
    position: relative;
    float: left;
    width: 100%;
    height: 80px;
    margin-left: 15px;
    background-color: transparent;
}
main div div dl dd h3 {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
}
main div div dl dd p {
    position: relative;
    top: -10px;
    width: 100%;
    float: left;
    margin-left: 15px;
    background-color: transparent;
    margin: 0 0 0 -200px;
    text-align: left;
    margin-top: 10px;
    color: blue;
}
/*footer*/
footer h1 {
    position: relative;
    float: left;
    width: 300px;
    line-height: 40px;
    color: black;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    margin-left: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0;
}
.social {
    float: right;
    display: inline-block;
    margin: 5px;
}
a:hover {
    color: orange;
}
a:visited {
    color: lightskyblue;
}

main aside ul {
    list-style: none;
}
main aside ul li {
    margin-left: 15px;
    color: blue;
}
main div ul li {
    margin-left: 15px;
    color: blue;
}
.profile, .languages, .software, .interests, .experience, .education {
    text-decoration: underline;
}

/*main - projects page*/
#box1 {
    position: relative;
    top: 10px;
    left: 20px;
    float: left;
    width: 30%;
}

#vqra {
    position: relative;
    top: 10px;
    float: left;
    color: orange;
    font-size: 20px;
    margin-left: 10px;
    z-index: 10;
    text-decoration: underline;
}

#projectBible {
    position: relative;
    top: 50px;
    left: 100px;
    float: left;
    width: 345px;
    height: auto;
    border-radius: 172.5px;
    border: 1px solid black;
}

/*main services*/

#wrapper {
    width: 1200px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F25F29;
}

#sideColumnLeft {
    position: relative;
    top: 20px;
    float: left;
    width: 400px;
    height: 600px;
    background: #F2B544;
}

#sideColumnRight {
    position: relative;
    top: 20px;
    float: right;
    width: 800px;
    height: 600px;
    background: #55D9D9;
}
.boxes {
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}
.box {
    position: relative;
    top: 30px;
    left: 20px;
    float: left;
    height: 120px;
    width: 120px;
    margin: 25px;
    padding: 25px;
    background: white;
    border: 1px solid black;
}
.box:hover {
    background-color: lightcyan;
    border-bottom: 3px solid red;
}

.create2 {
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}
.prizes {
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}
.heading2 {
    position: relative;
    font-size: 20px;
    margin-top: 10px;
}
.para {
    position: relative;
    top: 10px;
    float: left;
    display: block;
    margin-left: -50px;
    color: blue;
    text-align: left;
}
.link {
    text-decoration: none;
}
main h1 {
    margin-left: 20px;
    color: white;
}
main div ul li h3 a {
    text-decoration: underline;
}
main div div div h3 {
    color: black;
}
main div div div h3 a {
    text-decoration: underline;
}
.clear {
    clear: both;
    position: relative;
    top: 30px;
    left: 20px;
    color: white;
}
.email {
    position: relative;
    top: 20px;
    left: 20px;
    float: left;
    color: white;
    margin-left: -20px;
}

/*security*/
#secMain {
    position: relative;
    top: 0;
    left: 0;
    width: 1200px;
    margin: 0 10%;
    height: 800px;
    background-color: aqua;
}
#sec1 {
    position: relative;
    top: 30px;
    left: 30px;
    float: left;
    width: 50%;
    height: 200px;
    background-color: transparent;
    display: block;
    text-align: center;
}
#sec2 {
    position: relative;
    top: 30px;
    left: 30px;
    float: left;
    display: block;
    color: red;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
}
#attention {
    position: relative;
    top: 30px;
    left: 30px;
    float: left;
    display: block;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    color: #F2B544;
}
#sec3 {
    position: relative;
    top: 30px;
    left: 30px;
    float: left;
    display: block;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    margin-left: -10px;
}
#sec4 {
    color: blue;
}
#secImage {
    position: relative;
    top: 120px;
    left: -200px;
    float: right;
}