body {
    background-image: url("../images/road-in-autumn.jpg");
    background-size: cover;
  }
#header {
    width: 90%;
    height: 80px;
    margin-left: 20px;
}
#container {
    width: 90%;
    margin-left: 20px;
    min-height: 600px;
}
#sidecolumn {
    float: right;
    width: 150px;
    margin: 20px 0 0 0;
    padding: 1em;
    min-height: 570px;
}
#bodytext {
    padding: 1em;
    margin-right: 175px;
}
#footer {
    width: 90px;
    height: 60px;
    margin-left: 20px;
}
div nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div nav ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: grey;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
div nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
div nav ul li a:hover {
    background-color: darkturquoise;
}
div nav ul li ul li {
    display: none;
}
div nav ul li:hover ul li {
    display: block;
}